.Rproj.user
.Rhistory
.RData
_bookdown_files
data-raw/*.sqlite
data-raw/*.sqlite.bz2
data-raw/*.duckdb
data-raw/*.duckdb.bz2
data-raw/*.duckdb.wal
data-raw/*.zip
data-raw/*.tsv
inst/paper.md
inst/paper.bib
inst/*.log
inst/*.pdf
