.Rproj.user
.Rhistory
.RData
_bookdown_files
data-raw/*.sqlite
data-raw/*.sqlite.bz2
data-raw/*.duckdb
data-raw/*.duckdb.bz2
data-raw/*.duckdb.wal
data-raw/*.zip
data-raw/*.tsv
data-raw/*.shp
data-raw/*.dbf
data-raw/*.shx
data-raw/*.prj
data-raw/files-for-user-db
inst/*.log
inst/*.pdf
